@{
    ViewBag.Title = "Contact";
}
<h2>Oxford Library</h2>

<address>
    Broad St<br />
    Oxford OX1 3BG<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@oxford-libray.com">Support@oxford-libray.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@oxford-libray.com">Marketing@oxford-libray.com</a>
</address>