@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oxford Library</h1>
    <p class="lead">Welcome to our Library website. Check out our books!</p>
    <p>
        @Html.ActionLink("See books »", "Index", "Books", null, new { @class = "btn btn-primary btn-lg" })
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find books by author</h2>
        <p>
            Go to the authors list page to find your favorite authors and their books.
        </p>
        <p>
            @Html.ActionLink("See authors »", "Index", "Authors", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Check your rents</h2>
        <p>You can check the books you borrowed from us and when you need to give them back.</p>
        <p>
            @Html.ActionLink("Your rents »", "MyRents", "Rents", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>